@import "vars"
@import "~bootstrap/scss/bootstrap"

body
    background: $body-bg

svg
    .line
        fill: none
        stroke: #2B8CE1
        stroke-width: 2

    .stop-top
        stop-color: #efdf2e
        stop-opacity: 0.1


    .stop-bottom
        stop-color: #efdf2e
        stop-opacity: 0

    .filled
        fill: transparent

    .dot
        fill: #2B8CE1
        stroke: #FFF
        stroke-width: 1

    .tick
        line
            fill: none
            stroke: #e5e5e5
            stroke-width: 2
        text
            fill: #757575
            font:
                size: 12px
                weight: 700

    .x.axis
        .tick
                       
            line
                display: none
